<% layout('layouts/boilerplate') %>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-3" id="csGrp">
                <p class="display-6 text-light">Cheat Sheets</p>
                <div class="row">
                    <span class="border border-bottom border-info"></span>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-dark" type="input" id="gitcs">Git Cheat Sheet</button>
                    <button class="btn btn-dark" type="input" id="dcs">Docker Cheat Sheet</button>
                    <button class="btn btn-dark" type="input" id="kbcs">kubectl Cheat Sheet</button>
                </div>
            </div>
            <div class="col-lg-6" id="btnGrp" >
                <div class="row align-items-center">
                    <div class="col mb-4 text-center">
                        <p class="display-4 text-light">MultiCloud Dev Tool</p>
                        <p class="display-5 text-light">Documentation</p>
                    </div>
                </div>
                <div class="row align-items-center m-5">
                    <div class="col">
                        <input type="image" class="btn btn-outline-light btnMD" id="googleCloud" name="googleCloud" src="static/images/icons8-google-cloud-144.png">
                    </div>
                    <div class="col">
                        <input type="image" class="btn btn-outline-success btnMD" id="aws" name="aws" src="static/images/aws_logo_dark.png">
                    </div>
                    <div class="col">
                        <input type="image" class="btn btn-outline-info btnMD" id="azure" name="azure" src="static/images/Azure.png">
                    </div>
                </div>
                <div class="row align-items-center m-5">
                    <div class="col">
                        <input type="image" class="btn btn-outline-light btnMD" id="kb" name="kb" src="static/images/kb.png">
                    </div>
                    <div class="col">
                        <input type="image" class="btn btn-outline-secondary btnMD" id="dockerdocs" name="dockerdocs" src="static/images/dockerlogo.png">
                    </div>
                    <div class="col">
                        <input type="image" class="btn btn-outline-info btnMD" id="terraform" name="terrform" src="static/images/terraform.png">
                    </div>
                    
                </div>
                <div class="row align-items-center m-5">
                    <div class="col">
                        <input type="image" class="btn btn-info btnMD" id="mdnWeb" name="mdnWeb" src="static/images/mdn-seeklogo.com.png">
                    </div>
                    <div class="col">
                        <input type="image" class="btn btn-outline-success btnMD" id="nodeDocs" name="nodeDocs" src="static/images/nodejs.png">
                    </div>
                    <div class="col">
                        <input type="image" class="btn btn-outline-light btnMD" id="expressDocs" name="expressDocs" src="static/images/Express.png">
                    </div>
                    <div class="col">
                        <input type="image" class="btn btn-outline-danger btnMD" id="angularDocs" name="angularDocs" src="static/images/angular.png">
                    </div>
                </div>
                <div class="row align-items-center m-5">
                    <div class="col">
                        <input type="image" class="btn btn-outline-dark btnMD" id="reactDocs" name="reactDocs" src="static/images/react.png">
                    </div>
                    <div class="col">
                        <input type="image" class="btn btn-outline-dark btnMD" id="mongoDB" name="mongoDB" src="static/images/MongoDB_White.png">
                    </div>
                    <div class="col">
                        <input type="image" class="btn btn-light btnMD" id="mySql" name="mySql" src="static/images/includes-mysql-125x64.png">
                    </div>
                    <div class="col">
                        <input type="image" class="btn btn-outline-danger btnMD" id="gitDoc" name="gitDoc" src="static/images/Git-Logo-White-Full.png">
                    </div>
                </div>
            </div>
            <div class="col-sm-3" id="beGrp">
                <div class="col">
                    <p class="display-6 text-light">Books/Extra</p>
                    <div class="row">
                        <span class="border border-bottom border-info"></span>
                        <div class="d-grid gap-2">
                            <button class="btn btn-dark" type="input" id="gitBook">Git Book By Scott Chacon and Ben
                                Straub</button>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 