<% layout('layouts/boilerplate') %>
    <div class="container-fluid text-center">
        <div class="row align-items-center">
            <div class="col-sm-3">
                <p class="display-6 text-light">Cheat Sheets</p>
            </div>
            <div class="col-lg-6">
                <div class="row m-5"></div>
                <div class="row align-items-center mt-3">
                    <div class="col mb-4 text-center">
                        <p class="display-4 text-light">MultiCloud Dev Tool</p>
                        <p class="display-5 text-light">Documentation</p>
                    </div>
                </div>

                <div class="row align-items-center m-1 gy-5">
                    <div class="col">
                        <button type="button" class="btn btn-outline-danger btn-lg" data-bs-container="body">
                            <img src="static/images/Git-Icon-White.png" class="img-fluid" alt="git documentation link image">
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-success  btn-lg" data-bs-container="body">
                            <img src="static/images/icons8-google-cloud-144.png" class="img-fluid" alt="git documentation link image">
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-secondary" data-bs-container="body">
                            Site here
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-secondary" data-bs-container="body">
                            Site here
                        </button>
                    </div>
                </div>

                <div class="row align-items-center m-1 gy-5">
                    <div class="col"> 
                        <button type="button" class="btn btn-outline-secondary" data-bs-container="body">
                            Site here
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-secondary" data-bs-container="body">
                            Site here
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-secondary" data-bs-container="body">
                            Site here
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-secondary" data-bs-container="body">
                            Site here
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col">
                    <p class="display-6 text-light">Books</p>
                </div>
            </div>
        </div>

    </div>