<% layout('layouts/boilerplate') %>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col"></div>
        <div class="col text-center">
            <h1>MultiCloud Dev Tool</h1>
            <h3>List some stuff here</h3>
        </div>
        <div class="col"></div>
    </div>
    
</div>