 body {
    background-image: url("../static/images/yoCvXJW-wallpaper-and-background.jpg");
    
   }


.btnMD {
   height: 100px;
   width: 125px;
}


p {
   text-decoration-color: white;
}

.custom-tooltip {
   --bs-tooltip-bg: var(--bs-primary);
 }
 

